@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --primary-very-dark-magenta: hsl(300, 43%, 22%);
  --primary-soft-pink: hsl(333, 80%, 67%);

  --neutral-dark-grayish-magenta: hsl(303, 10%, 53%);
  --neutral-light-grayish-magenta: hsl(300, 24%, 96%);
  --neutral-white: hsl(0, 0%, 100%);

  --font-league-400: 400;
  --font-league-500: 500;
  --font-league-700: 700;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;

  background-image: url("images/bg-pattern-top-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;

  padding: 0 2rem;
}

.head-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  color: var(--neutral-dark-grayish-magenta);
  text-align: center;
}

.head-title h1 {
  color: var(--primary-very-dark-magenta);
  font-size: 2.5rem;
  font-weight: var(--font-league-700);
  max-width: 12ch;
  margin-bottom: 1rem;
  line-height: 0.75;
}

.rates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: 100%;
}

.rate-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  width: 100%;
  max-width: 25rem;

  background-color: var(--neutral-light-grayish-magenta);
  color: var(--primary-very-dark-magenta);
  font-weight: var(--font-league-700);
  border-radius: 10px;
  padding: 1rem 0;
}

.rate-label::before {
  content: "";
  background-image: url("images/icon-star.svg");
  background-repeat: space;
  width: 100px;
  height: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.card-profile {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background-color: var(--primary-very-dark-magenta);
  color: var(--neutral-light-grayish-magenta);
  padding: 2rem;
  border-radius: 10px;
  font-weight: var(--font-league-500);
  max-width: 25rem;
  min-width: 13.125rem;
  line-height: 1.5;
}

.card-head {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.card-head img {
  border-radius: 50%;
  width: 2.5rem;
}

.card-head label {
  color: var(--primary-soft-pink);
  display: block;
  font-weight: var(--font-league-400);
}

@media (min-width: 53.125rem) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10rem;
    gap: 2rem;
  }

  .head-title {
    align-items: flex-start;

    text-align: initial;
    width: 40%;
  }

  .head-title p {
    max-width: 40ch;
  }

  .rates {
    width: initial;
    flex-grow: 1;
  }

  .rate-label {
    flex-direction: row;
    gap: 2rem;
    max-width: 30rem;
    padding: 1rem 2rem;
  }

  .rate-label::before {
    margin-bottom: initial;
  }

  .rate-label:first-of-type {
    align-self: flex-start;
  }

  .rate-label:last-of-type {
    align-self: flex-end;
  }

  .cards {
    min-width: 100%;
  }

  .cards {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    margin-top: 2rem;
  }

  .card-profile {
    padding: 2rem 2.4rem;
  }

  .card-profile:first-of-type {
    transform: translateY(-1rem);
  }

  .card-profile:last-of-type {
    transform: translateY(1rem);
  }
}
